.btn-schedule-wrapper {
    display: flex;
    position: fixed;
    justify-content: center;
    margin-top: 5rem;
    top: 390px;
    height: 40px;
    left: 310px;
  }
  
  .modal-open-button, .modal-close-btn {
    cursor: pointer;
    margin-left: auto;
  }
  
.modal-container {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}
  
.modal-content {
    background-color: #ffffff;
    width: 250px;
    height: 300px;
    padding: 15px;
    border-radius: 13px;
    display:flex;
    flex-direction:column;
    align-items: center;
    transform: translate(0%, 10%);
  }

.new-schedule-title {
    font-size: 24px; /* 원하는 크기로 조정 */
    font-weight: bold;
    margin-bottom: 0px; /* 제목과 내용 간격 조정 */
    margin-top: 10px;
    margin-bottom: 15px;
}


.modal-open-btn {
  /* 버튼에 대한 기본 스타일 */
  background: linear-gradient( to bottom, #FFB6B6 ,#FFF0D3 97%); /* 버튼의 배경색 */
  color: #bb3c54; /* 버튼의 텍스트 색상 */
  border: 2px solid #ff5171; /* 버튼의 테두리 색상 */
  border-radius: 100px; /* 버튼의 모서리를 둥글게 만듦 */
  padding: 7px 6px; /* 버튼의 내부 여백 */
  box-shadow: 4px 3px 6px rgba(0, 0, 0, 0.3);
}

.modal-open-btn:hover {
  /* 마우스를 올렸을 때의 버튼 스타일 */
  background: #efa9c9; /* 버튼의 배경색 */
  border-color: #bc2743; /* 버튼의 테두리 색상 */
}

.modal-open-btn:focus {
  /* 포커스(클릭)됐을 때의 버튼 스타일 */
  outline: none; /* 포커스 효과 제거 */
  box-shadow: 0 0 5px rgb(221, 126, 140); /* 포커스 시 그림자 효과 추가 */
}

.modal-close-btn {
  background: rgba(255, 152, 152, 1);
  height: 40px;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 10px;
  border-radius: 8px;
}

.ocr-button {
  border-radius: 16px;
  width: 35px;
  height:35px;
  transform: translate(-320%, 30%);
}

.input {
  width: 100%;
  height: 25px;
  margin-bottom: 1px;
}
