.wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70px;
    background: #f4f4fa;
    display: flex; /* Flexbox 사용 */
    justify-content: space-around; /* 아이콘들을 수평으로 고르게 배치 */
    align-items: center; /* 아이콘들을 수직으로 가운데 정렬 */
    /*border-top: 1px solid #ccc; /* 위쪽 테두리 설정 */
    /*box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);  그림자 효과 설정 */
}

/* nav 태그 아래의 자식들을 수평정렬하기 위한 설정 */
nav {
    overflow: hidden;
    border-top: 2px solid grey;
}

.nav-link {
    /*수평정렬, 3개의 button을 각각 33% width만큼 할당*/
    text-align: center;

    /*세로길이 설정*/
    height: 70px; /* 전체 높이를 맞춤 */
    line-height: 70px; /* 아이콘을 수직으로 가운데 정렬 */
}

.nav-item {
    color: grey;
}

.active {
    color: #ef5c89;
}
