.budget-bar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 0px;
    top: 39px;
 }
.line {
    flex-shrink: 0;
    width: 385px;
    height: 26px;
    position: static;
}
.rectangle-4037 {
    background: linear-gradient(
    90deg,
    rgba(255, 174, 174, 1) 0%,
    rgba(255, 255, 255, 1) 100%
    );
    border-radius: 15px;
    width: 385px;
    height: 26px;
    position: absolute;
    left: 0px;
    top: 0px;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1);
}
.rectangle-4038 {
    background: linear-gradient(
    90deg,
    rgba(255, 240, 185, 0.74) 77.99999713897705%,
    rgba(255, 182, 150, 0.74) 100%
    );
    border-radius: 15px;
    width: 268px;
    height: 26px;
    position: absolute;
    left: 0px;
    top: 0px;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1);
}
._324-000 {
    color: #ff9595;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 150%;
    font-weight: 700;
    position: absolute;
    left: 173px;
    top: 0px;
    width: 110px;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1);
}
._64-8 {
    color: #ff9898;
    text-align: right;
    font-family: "Inter-Regular", sans-serif;
    font-size: 11px;
    line-height: 145%;
    font-weight: 400;
    position: absolute;
    left: 340.91px;
    top: 5px;
    width: 35.49px;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1);
}