.first-schedule-account-hp4,
.first-schedule-account-hp4 * {
  box-sizing: border-box;
}
.first-schedule-account-hp4 {
  background: #ffffff;
  height: 2113px;
  position: relative;
  overflow: hidden;
}
.line-231-hp4 {
  border-style: solid;
  border-color: #d3d3d7;
  border-width: 1px 0 0 0;
  width: 128px;
  height: 0px;
  position: absolute;
  left: 69px;
  top: 226px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
._5-3-hp4 {
  position: absolute;
  inset: 0;
}
.rectangle-4247-hp4 {
  background: #ffffff;
  border-radius: 8px;
  border-style: solid;
  border-color: #d3d3d7;
  border-width: 1px;
  width: 331.8px;
  height: 64px;
  position: absolute;
  left: 31.85px;
  top: 168px;
}
.schedule-2-hp4 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 65.35px;
  top: 188px;
  width: 126.65px;
  height: 21px;
}
.ellipse-117-hp4 {
  background: #d9c3a2;
  border-radius: 50%;
  width: 41.87px;
  height: 40px;
  position: absolute;
  left: 10.25px;
  top: 181px;
}
._3-2520-hp4 {
  color: #ff7272;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 227.58px;
  top: 183px;
  width: 119.32px;
}
._5-3-rectangle-hp4 {
  background: #ffffff;
  border-radius: 8px;
  border-style: solid;
  border-color: #d3d3d7;
  border-width: 1px;
  width: 331.8px;
  height: 62px;
  position: absolute;
  left: 31.85px;
  top: 98px;
}
._3-25202-hp4 {
  color: #ff7272;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 231.77px;
  top: 113px;
  width: 119.32px;
}
.schedule-1-hp4 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 65.35px;
  top: 118px;
  width: 138.77px;
  height: 20.62px;
}
.ellipse-1172-hp4 {
  background: #ffa9a9;
  border-radius: 50%;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  width: 41.87px;
  height: 40px;
  position: absolute;
  left: 11.3px;
  top: 109px;
}
._0-hp4 {
  color: #ff7272;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 328px;
  top: 64px;
  width: 26px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.div-hp4 {
  color: #000000;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 321px;
  top: 41px;
  width: 31px;
}
._02-hp4 {
  color: #529cf2;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 235px;
  top: 64px;
  width: 26px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.div2-hp4 {
  color: #000000;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 230px;
  top: 41px;
  width: 31px;
}
.div3-hp4 {
  color: #c5c5c5;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 137px;
  top: 60px;
  width: 9px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
._5-28-hp4 {
  color: var(--base-100, #242424);
  text-align: left;
  font-family: "PlusJakartaSans-Regular", sans-serif;
  font-size: 16px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 17px;
  top: 66px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.div4-hp4 {
  color: var(--base-80, #707070);
  text-align: left;
  font-family: var(--body-regular-l-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-regular-l-font-size, 16px);
  line-height: var(--body-regular-l-line-height, 140%);
  font-weight: var(--body-regular-l-font-weight, 400);
  position: absolute;
  left: 20px;
  top: 41px;
  width: 31px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.line-2312-hp4 {
  border-style: solid;
  border-color: #d3d3d7;
  border-width: 1px 0 0 0;
  width: 128px;
  height: 0px;
  position: absolute;
  left: 68.97px;
  top: 886px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
._5-32-hp4 {
  width: 354.09px;
  height: 64px;
  position: static;
}
.rectangle-42472-hp4 {
  background: #ffffff;
  border-radius: 8px;
  border-style: solid;
  border-color: #d3d3d7;
  border-width: 1px;
  width: 332.46px;
  height: 64px;
  position: absolute;
  left: 31.54px;
  top: 828px;
}
.div5-hp4 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 65.1px;
  top: 848px;
  width: 126.9px;
  height: 21px;
}
.ellipse-1173-hp4 {
  background: #d9c3a2;
  border-radius: 50%;
  width: 41.95px;
  height: 40px;
  position: absolute;
  left: 9.9px;
  top: 841px;
}
._3-25203-hp4 {
  color: #ff7272;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 227.66px;
  top: 843px;
  width: 119.56px;
}
._2-hp4 {
  color: #ff7272;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 263.12px;
  top: 860px;
  width: 84.95px;
}
._5-33-hp4 {
  width: 353.05px;
  height: 62px;
  position: static;
}
._5-3-rectangle2-hp4 {
  background: #ffffff;
  border-radius: 8px;
  border-style: solid;
  border-color: #d3d3d7;
  border-width: 1px;
  width: 332.46px;
  height: 62px;
  position: absolute;
  left: 31.54px;
  top: 758px;
}
._03-hp4 {
  color: #ff7272;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 278px;
  top: 773px;
  width: 73.41px;
}
._04-hp4 {
  color: #ff7272;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 278px;
  top: 790px;
  width: 73.41px;
}
.div6-hp4 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 65.1px;
  top: 778px;
  width: 139.04px;
  height: 20.62px;
}
.ellipse-1174-hp4 {
  background: #e4ace9;
  border-radius: 50%;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  width: 41.95px;
  height: 40px;
  position: absolute;
  left: 10.95px;
  top: 769px;
}
._05-hp4 {
  color: #ff7272;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 328.3px;
  top: 724px;
  width: 26.22px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.div7-hp4 {
  color: #000000;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 321.32px;
  top: 701px;
  width: 31.46px;
}
._06-hp4 {
  color: #529cf2;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 235.39px;
  top: 724px;
  width: 26.22px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.div8-hp4 {
  color: #000000;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 230.14px;
  top: 701px;
  width: 31.46px;
}
.div9-hp4 {
  color: #c5c5c5;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 136.8px;
  top: 719px;
  width: 9.44px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
._5-31-hp4 {
  color: var(--base-100, #242424);
  text-align: left;
  font-family: "PlusJakartaSans-Regular", sans-serif;
  font-size: 16px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 20.39px;
  top: 724px;
  width: 121.66px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.line-2313-hp4 {
  border-style: solid;
  border-color: #d3d3d7;
  border-width: 1px 0 0 0;
  width: 128px;
  height: 0px;
  position: absolute;
  left: 69.99px;
  top: 1720px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
._5-34-hp4 {
  width: 352.86px;
  height: 64px;
  position: static;
}
.rectangle-42473-hp4 {
  background: #ffffff;
  border-radius: 8px;
  border-style: solid;
  border-color: #d3d3d7;
  border-width: 1px;
  width: 331.3px;
  height: 64px;
  position: absolute;
  left: 32.7px;
  top: 1662px;
}
.div10-hp4 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 66.14px;
  top: 1682px;
  width: 126.46px;
  height: 21px;
}
.ellipse-1175-hp4 {
  background: #d9c3a2;
  border-radius: 50%;
  width: 41.8px;
  height: 40px;
  position: absolute;
  left: 11.14px;
  top: 1675px;
}
._3-25204-hp4 {
  color: #ff7272;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 228.14px;
  top: 1677px;
  width: 119.14px;
}
._22-hp4 {
  color: #ff7272;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 263.48px;
  top: 1694px;
  width: 84.65px;
}
._5-35-hp4 {
  width: 351.82px;
  height: 62px;
  position: static;
}
._5-3-rectangle3-hp4 {
  background: #ffffff;
  border-radius: 8px;
  border-style: solid;
  border-color: #d3d3d7;
  border-width: 1px;
  width: 331.3px;
  height: 62px;
  position: absolute;
  left: 32.7px;
  top: 1592px;
}
._1-2520-hp4 {
  color: #ff7272;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 234.4px;
  top: 1607px;
  width: 117.05px;
}
._1-hp4 {
  color: #ff7272;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 269.28px;
  top: 1624px;
  width: 82.56px;
}
.div11-hp4 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 66.14px;
  top: 1612px;
  width: 138.56px;
  height: 20.62px;
}
.ellipse-1176-hp4 {
  background: #95b3df;
  border-radius: 50%;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  width: 41.8px;
  height: 40px;
  position: absolute;
  left: 12.18px;
  top: 1603px;
}
._07-hp4 {
  color: #ff7272;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 328.43px;
  top: 1558px;
  width: 26.13px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.div12-hp4 {
  color: #000000;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 321.47px;
  top: 1535px;
  width: 31.35px;
}
._08-hp4 {
  color: #529cf2;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 235.84px;
  top: 1558px;
  width: 26.13px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.div13-hp4 {
  color: #000000;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 230.61px;
  top: 1535px;
  width: 31.35px;
}
.div14-hp4 {
  color: #c5c5c5;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 137.59px;
  top: 1553px;
  width: 9.41px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
._6-4-hp4 {
  color: var(--base-100, #242424);
  text-align: left;
  font-family: "PlusJakartaSans-Regular", sans-serif;
  font-size: 16px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 21.59px;
  top: 1558px;
  width: 120.19px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.line-2314-hp4 {
  border-style: solid;
  border-color: #d3d3d7;
  border-width: 1px 0 0 0;
  width: 128px;
  height: 0px;
  position: absolute;
  left: 66.86px;
  top: 1308px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.rectangle-42474-hp4 {
  background: #ffffff;
  border-radius: 8px;
  border-style: solid;
  border-color: #d3d3d7;
  border-width: 1px;
  width: 331.3px;
  height: 64px;
  position: absolute;
  left: 29.56px;
  top: 1250px;
}
.div15-hp4 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 63.01px;
  top: 1270px;
  width: 126.46px;
  height: 21px;
}
.ellipse-1177-hp4 {
  background: #ffc6c6;
  border-radius: 50%;
  width: 41.8px;
  height: 40px;
  position: absolute;
  left: 8px;
  top: 1263px;
}
._3-25205-hp4 {
  color: #ff7272;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 225px;
  top: 1265px;
  width: 119.14px;
}
._23-hp4 {
  color: #ff7272;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 260.35px;
  top: 1282px;
  width: 84.65px;
}
._5-3-rectangle4-hp4 {
  background: #ffffff;
  border-radius: 8px;
  border-style: solid;
  border-color: #d3d3d7;
  border-width: 1px;
  width: 331.3px;
  height: 62px;
  position: absolute;
  left: 29.56px;
  top: 1180px;
}
._3-25206-hp4 {
  color: #ff7272;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 229.18px;
  top: 1195px;
  width: 119.14px;
}
._24-hp4 {
  color: #ff7272;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 263.29px;
  top: 1212px;
  width: 84.65px;
}
.div16-hp4 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 63.01px;
  top: 1200px;
  width: 138.56px;
  height: 20.62px;
}
.ellipse-1178-hp4 {
  background: #d9c3a2;
  border-radius: 50%;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  width: 41.8px;
  height: 40px;
  position: absolute;
  left: 9.04px;
  top: 1191px;
}
._09-hp4 {
  color: #ff7272;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 325.29px;
  top: 1146px;
  width: 26.13px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.div17-hp4 {
  color: #000000;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 318.33px;
  top: 1123px;
  width: 31.35px;
}
._010-hp4 {
  color: #529cf2;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 232.7px;
  top: 1146px;
  width: 26.13px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.div18-hp4 {
  color: #000000;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 227.47px;
  top: 1123px;
  width: 31.35px;
}
.div19-hp4 {
  color: #c5c5c5;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 134.46px;
  top: 1141px;
  width: 9.41px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
._6-2-hp4 {
  color: var(--base-100, #242424);
  text-align: left;
  font-family: "PlusJakartaSans-Regular", sans-serif;
  font-size: 16px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 18.45px;
  top: 1146px;
  width: 119.14px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
._5-4-hp4 {
  position: absolute;
  inset: 0;
}
.rectangle-42475-hp4 {
  background: #ffffff;
  border-radius: 8px;
  border-style: solid;
  border-color: #d3d3d7;
  border-width: 1px;
  width: 333.99px;
  height: 66px;
  position: absolute;
  left: 30px;
  top: 359px;
}
._3-1200-hp4 {
  color: #ff7272;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 225.15px;
  top: 375px;
  width: 118.14px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.div20-hp4 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 62.28px;
  top: 381px;
  width: 132.58px;
  height: 20px;
}
.ellipse-123-hp4 {
  background: #bbdb38;
  border-radius: 50%;
  width: 42.14px;
  height: 40px;
  position: absolute;
  left: 12.76px;
  top: 373px;
}
.div21-hp4 {
  color: #000000;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 322.52px;
  top: 304px;
  width: 31.61px;
}
._011-hp4 {
  color: #ff7272;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 325.68px;
  top: 330px;
  width: 26.34px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.div22-hp4 {
  color: #000000;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 233.35px;
  top: 304px;
  width: 31.61px;
}
._012-hp4 {
  color: #529cf2;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 238.62px;
  top: 330px;
  width: 26.34px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
._5-29-hp4 {
  color: var(--base-100, #242424);
  text-align: left;
  font-family: "PlusJakartaSans-Regular", sans-serif;
  font-size: 16px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 17px;
  top: 330px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.div23-hp4 {
  color: #c5c5c5;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 135.31px;
  top: 324px;
  width: 9.48px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
._5-16-hp4 {
  position: absolute;
  inset: 0;
}
._5-30-hp4 {
  color: var(--base-100, #242424);
  text-align: left;
  font-family: "PlusJakartaSans-Regular", sans-serif;
  font-size: 16px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 15px;
  top: 550px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.div24-hp4 {
  width: 335.03px;
  height: 66px;
  position: static;
}
.rectangle-42476-hp4 {
  background: #ffffff;
  border-radius: 8px;
  border-style: solid;
  border-color: #d3d3d7;
  border-width: 1px;
  width: 335.03px;
  height: 66px;
  position: absolute;
  left: 28.97px;
  top: 580px;
}
.div25-hp4 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 59.85px;
  top: 602px;
  width: 68.15px;
}
.div26-hp4 {
  color: #000000;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 322.47px;
  top: 525px;
  width: 31.95px;
}
._013-hp4 {
  color: #ff7272;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 325.67px;
  top: 551px;
  width: 26.62px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.div27-hp4 {
  color: #000000;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 236.61px;
  top: 525px;
  width: 31.95px;
}
._014-hp4 {
  color: #529cf2;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 241.93px;
  top: 550px;
  width: 26.62px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.div28-hp4 {
  color: #c5c5c5;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 138.65px;
  top: 543px;
  width: 9.58px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
._6-1-hp4 {
  color: var(--base-100, #242424);
  text-align: left;
  font-family: "PlusJakartaSans-Regular", sans-serif;
  font-size: 16px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 22px;
  top: 972px;
  width: 114.96px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.div29-hp4 {
  width: 328.83px;
  height: 66px;
  position: static;
}
.rectangle-42477-hp4 {
  background: #ffffff;
  border-radius: 8px;
  border-style: solid;
  border-color: #d3d3d7;
  border-width: 1px;
  width: 328.83px;
  height: 66px;
  position: absolute;
  left: 24.72px;
  top: 1002px;
}
.div30-hp4 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 55.03px;
  top: 1024px;
  width: 66.89px;
}
.div31-hp4 {
  color: #000000;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 312.78px;
  top: 947px;
  width: 31.35px;
}
._015-hp4 {
  color: #ff7272;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 315.92px;
  top: 973px;
  width: 26.13px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.div32-hp4 {
  color: #000000;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 228.51px;
  top: 947px;
  width: 31.35px;
}
._016-hp4 {
  color: #529cf2;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 233.74px;
  top: 972px;
  width: 26.13px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.div33-hp4 {
  color: #c5c5c5;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 132.36px;
  top: 965px;
  width: 9.41px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
._6-3-hp4 {
  color: var(--base-100, #242424);
  text-align: left;
  font-family: "PlusJakartaSans-Regular", sans-serif;
  font-size: 16px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 20.27px;
  top: 1393px;
  width: 119.14px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.rectangle-42478-hp4 {
  background: #ffffff;
  border-radius: 8px;
  border-style: solid;
  border-color: #d3d3d7;
  border-width: 1px;
  width: 328.83px;
  height: 66px;
  position: absolute;
  left: 28.9px;
  top: 1424px;
}
.div34-hp4 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 59.21px;
  top: 1446px;
  width: 66.89px;
}
.div35-hp4 {
  color: #000000;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 316.97px;
  top: 1369px;
  width: 31.35px;
}
._017-hp4 {
  color: #ff7272;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 320.1px;
  top: 1395px;
  width: 26.13px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.div36-hp4 {
  color: #000000;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 232.7px;
  top: 1369px;
  width: 31.35px;
}
._018-hp4 {
  color: #529cf2;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 237.92px;
  top: 1394px;
  width: 26.13px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.div37-hp4 {
  color: #c5c5c5;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 136.55px;
  top: 1387px;
  width: 9.41px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
._6-5-hp4 {
  color: var(--base-100, #242424);
  text-align: left;
  font-family: "PlusJakartaSans-Regular", sans-serif;
  font-size: 16px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 20.54px;
  top: 1799px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.rectangle-42479-hp4 {
  background: #ffffff;
  border-radius: 8px;
  border-style: solid;
  border-color: #d3d3d7;
  border-width: 1px;
  width: 328.83px;
  height: 66px;
  position: absolute;
  left: 35.17px;
  top: 1830px;
}
.div38-hp4 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 65.48px;
  top: 1852px;
  width: 66.89px;
}
.div39-hp4 {
  color: #000000;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 323.24px;
  top: 1775px;
  width: 31.35px;
}
._019-hp4 {
  color: #ff7272;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 326.37px;
  top: 1801px;
  width: 26.13px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.div40-hp4 {
  color: #000000;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 238.97px;
  top: 1775px;
  width: 31.35px;
}
._020-hp4 {
  color: #529cf2;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 244.19px;
  top: 1800px;
  width: 26.13px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.div41-hp4 {
  color: #c5c5c5;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 134.81px;
  top: 1793px;
  width: 9.41px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
._6-6-hp4 {
  color: var(--base-100, #242424);
  text-align: left;
  font-family: "PlusJakartaSans-Regular", sans-serif;
  font-size: 16px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 18.45px;
  top: 1975px;
  width: 119.14px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.rectangle-424710-hp4 {
  background: #ffffff;
  border-radius: 8px;
  border-style: solid;
  border-color: #d3d3d7;
  border-width: 1px;
  width: 328.83px;
  height: 66px;
  position: absolute;
  left: 33.08px;
  top: 2006px;
}
.div42-hp4 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 63.39px;
  top: 2028px;
  width: 66.89px;
}
.div43-hp4 {
  color: #000000;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 321.15px;
  top: 1951px;
  width: 31.35px;
}
._021-hp4 {
  color: #ff7272;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 324.28px;
  top: 1977px;
  width: 26.13px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.div44-hp4 {
  color: #000000;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 236.88px;
  top: 1951px;
  width: 31.35px;
}
._022-hp4 {
  color: #529cf2;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 242.1px;
  top: 1976px;
  width: 26.13px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.div45-hp4 {
  color: #c5c5c5;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 131.72px;
  top: 1969px;
  width: 9.41px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
