.sort,
.sort * {
    box-sizing: border-box;
}
.sort {
    background: #ffffff;
    height: 800px;
    position: relative;
    overflow: hidden;
}
.don-t-worry {
    color: #000000;
    text-align: center;
    font-family: "Inter-Regular", sans-serif;
    font-size: 30px;
    font-weight: 400;
    position: absolute;
    left: 89px;
    top: 27px;
    width: 252px;
    height: 94px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.group-1321314019 {
    height: auto;
    position: absolute;
    left: 76px;
    top: 221px;
    overflow: visible;
}
.rectangle-4225 {
    background: #ffedac;
    border-radius: 18px;
    width: 368px;
    height: 69px;
    position: absolute;
    left: 32px;
    top: 756px;
    box-shadow: 2px 2px 6.5px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-4226 {
    background: #ffedac;
    border-radius: 18px;
    width: 368px;
    height: 69px;
    position: absolute;
    left: 32px;
    top: 673px;
    box-shadow: 2px 2px 6.5px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-4227 {
    background: #ffedac;
    border-radius: 18px;
    width: 368px;
    height: 69px;
    position: absolute;
    left: 32px;
    top: 591px;
    box-shadow: 2px 2px 6.5px 0px rgba(0, 0, 0, 0.25);
}
.n {
    color: #000000;
    text-align: center;
    font-family: "Inter-Regular", sans-serif;
    font-size: 24px;
    font-weight: 400;
    position: absolute;
    left: 107px;
    top: 604px;
    width: 216px;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div2 {
    color: #000000;
    text-align: center;
    font-family: "Inter-Regular", sans-serif;
    font-size: 24px;
    font-weight: 400;
    position: absolute;
    left: 116px;
    top: 686px;
    width: 210px;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div3 {
    color: #000000;
    text-align: center;
    font-family: "Inter-Regular", sans-serif;
    font-size: 24px;
    font-weight: 400;
    position: absolute;
    left: 102px;
    top: 769px;
    width: 226px;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
}
