.upload-button,
.upload-button * {
    box-sizing: border-box;
}

.upload-button {
    background: linear-gradient(
        180deg,
        rgba(255, 116, 116, 1) 0%,
        rgba(255, 254, 243, 1) 100%
    );
    border-radius: 26px;
    border-style: solid;
    border-color: #ff9898;
    border-width: 5px;
    width: 80px;
    height: 50px;
    position: absolute;
    top: 490px;
    left: 38%;
    color: white;
    margin:auto;
    display: block;
    cursor: pointer;
    font-size: 16px;
}
