.btn-schedule-wrapper {
    display: flex;
    position: fixed;
    justify-content: center;
    margin-top: 5rem;
    top: 600px;
    height: 30px;
    left: 380px;
  }
  
  .modal-open-button, .modal-close-btn {
    cursor: pointer;
    margin-left: auto;
  }
  
  .modal-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: #ffffff;
    width: 250px;
    height: 250px;
    padding: 15px;
    border-radius: 13px;
  }